@using WebApp.Models
@using WebApp.Models.EquipData
@using WebApp.Settings;
@using WebApp.Models.DTO;
@using WebApp.Attributes;

@model List<CabinetDTO>;

@{
    Layout = "_CabList";

    TranslateMetadata<IMetaData> meta = new();
    meta.Assign<CabinetDTO>();
}

@section CabTable {
    <table>
        <tr>
            @meta.TableName
        </tr>
        <tr>
            @{
                foreach (var header in meta.PropName)
                {
                    <th>@header.Value</th>
                }
                <th></th>
            }
        </tr>
        @{
            foreach(var cabinet in Model)
            {
                //var cabId = meta.HasAttribute<InclusionInHeader>(nameof(cabinet.Id));
                var values = meta.GetValues(cabinet);

                <tr>
                    @{
                        if (values != null)
                        {
                            <td>@values[nameof(cabinet.Id)]</td>
                            <td>@values[nameof(cabinet.Num)]</td>
                            <td>@values[nameof(cabinet.PlanNum)]</td>
                            var resp = values[nameof(cabinet.ResponsiblePerson)] as UserDTO;
                            if (resp != null)
                            {
                                <td>
                                    <p>@resp.Surname</p>
                                    <p>@resp.Name</p>
                                    <p>@resp.Patronymic</p>
                                </td>
                            }
                            <td>@values[nameof(cabinet.Group)]</td>
                            <td>@values[nameof(cabinet.Floor)]</td>
                            <td>@values[nameof(cabinet.Height)]</td>
                            <td>@values[nameof(cabinet.Length)]</td>
                            <td>@values[nameof(cabinet.Width)]</td>
                            <td>@values[nameof(cabinet.SquareFloor)]</td>
                            <td>@values[nameof(cabinet.SquareWall_1)]</td>
                            <td>@values[nameof(cabinet.SquareWall_2)]</td>
                        }
                    }
                    <td>
                        <button onclick="window.location = '../cabinets/cabientId=@cabinet.Id'">Перейти</button>
                    </td>
                </tr>
            }   
        }      
    </table>
}