@using WebApp.Models
@using WebApp.Models.EquipData
@using WebApp.Settings;
@using WebApp.Models.DTO;
@using WebApp.Attributes;

@model List<CabinetDTO>;

@{
    Layout = "_CabList";

    TranslateMetadata<IMetaData> meta = new();
    meta.Assign<CabinetDTO>();
}

@section CabTable {
    <table>
        <tr>
            @meta.TableName
        </tr>
        <tr>
            @{
                foreach (var header in meta.PropName)
                {
                    <th>@header.Value</th>
                }
                <th></th>
            }
        </tr>
        @{
            foreach(var cabinet in Model)
            {
                //var cabId = meta.HasAttribute<InclusionInHeader>(nameof(cabinet.Id));
                var values = meta.GetValues(cabinet);

                <tr>
                    @{
                        if (values != null)
                        {
                            if (values[nameof(cabinet.Id)] is int cabId)
                            {
                                <td>@cabId</td>
                            }

                            if (values[nameof(cabinet.Num)] is int cabNum)
                            {
                                <td>@cabNum</td>
                            }

                            if (values[nameof(cabinet.PlanNum)] is int cabPlanNum)
                            {
                                <td>@cabPlanNum</td>
                            }

                            if (values[nameof(cabinet.ResponsiblePerson)] is UserDTO resp)
                            {
                                <td>
                                    <p>@resp.Surname</p>
                                    <p>@resp.Name</p>
                                    <p>@resp.Patronymic</p>
                                </td>
                            }

                            if (values[nameof(cabinet.Group)] is int group)
                            {
                                <td>@group</td>
                            }

                            if (values[nameof(cabinet.Floor)] is int floor)
                            {
                                <td>@floor</td>
                            }

                            if (values[nameof(cabinet.Height)] is double height)
                            {
                                <td>@height</td>
                            }

                            if (values[nameof(cabinet.Length)] is double length)
                            {
                                <td>@length</td>
                            }

                            if (values[nameof(cabinet.Width)] is double width)
                            {
                                <td>@width</td>
                            }

                            if (values[nameof(cabinet.SquareFloor)] is double squareFloor)
                            {
                                <td>@squareFloor</td>
                            }

                            if (values[nameof(cabinet.SquareWall_1)] is double squareWall_1)
                            {
                                <td>@squareWall_1</td>
                            }

                            if (values[nameof(cabinet.SquareWall_2)] is double squareWall_2)
                            {
                                <td>@squareWall_2</td>
                            }
                        }
                    }
                    <td>
                        <button onclick="window.location = '../cabinets/cabientId=@cabinet.Id'">Перейти</button>
                    </td>
                </tr>
            }   
        }      
    </table>
}