@using ModelLib.DTO;
@using WebApp.Settings;
@using WebApp.Models;
@using System.Collections;
@using System.Security.Claims;
@using WebApp.Models.PageModels;
@using ModelLib.Convert.Table;

@model CabInfoPage;

@{
    Layout = "_CabInfo";

    var tableData = ViewData["TableData"];

    TranslateMetadata<IMetaData> equipmentMeta = new();
    equipmentMeta.Assign<EquipmentDTO>();

    var cabinet = Model.Cabinet;
    var respPerson = cabinet.ResponsiblePerson;

    Context.Response.Cookies.Append("cabid", cabinet.Id.ToString());

    string currentUserId = Context.User.Claims.FirstOrDefault(c => c.Type == ClaimTypes.Sid) is Claim claim ? claim.Value : "0";

    bool isCurrentUserIsRespPerson = respPerson is UserDTO user ? user.Id.ToString() == currentUserId : false;
    bool isPermissionIsMaster = Context.User.IsInRole("Master");
    bool isPermissionIsAdmin = Context.User.IsInRole("Admin");
    bool isPermissionHigherThenUser = !Context.User.IsInRole("User");
}

@section CabInfoScripts {
    <link href="~/css/Tools.css" rel="stylesheet" type="text/css" />
    <link href="~/css/CabInfo.css" rel="stylesheet" type="text/css" />
    <link href="~/css/ElementsStyle.css" rel="stylesheet" type="text/css" />
    <script src="~/js/jquery-3.7.1.min.js" type="text/javascript"></script>
    <script src="~/js/jQueryRotate.js" type="text/javascript"></script>
    <script src="~/js/CabInfo.js" type="text/javascript"></script>
    <link href="~/css/RightMenu.css" rel="stylesheet" type="text/css" />
    <script src="~/js/RightMenu.js" type="text/javascript"></script>
    <link href="~/css/RequestForm.css" rel="stylesheet" type="text/css" />
    <script src="~/js/RequestForm.js" type="text/javascript"></script>
    <link href="~/css/InfoEditor.css" rel="stylesheet" type="text/css" />
    <script src="~/js/InfoEditor.js" type="text/javascript"></script>
    <script src="~/js/signalr.js"></script>
    <script src="~/js/jquery.signalR.min.js"></script>
}

@section CabInfo 
{
    <div id="cab-info-container">
        <div id="main-cab-info">
            <div id="cab-text-info">
                <div title="Номер кабинета">
                    <p class="cab-text-info-sign">№ кабинета</p>
                    <p id="num">@cabinet.Num</p>
                </div>
                <div title="Номер кабинета по плану">
                    <p class="cab-text-info-sign">№ кабинета по плану</p>
                    <p id="planNum">@cabinet.PlanNum</p>
                </div>
                <div title="Этаж">
                    <p class="cab-text-info-sign">Этаж</p>
                    <p id="floor">@cabinet.Floor</p>
                </div>
                <div title="Длина">
                    <p class="cab-text-info-sign">Длина кабинета</p>
                    <p id="width">@cabinet.Width</p>
                </div>
                <div title="Ширина">
                    <p class="cab-text-info-sign">Ширина кабинета</p>
                    <p id="length">@cabinet.Length</p>
                </div>
                <div title="Высота">
                    <p class="cab-text-info-sign">Высота кабинета</p>
                    <p id="height">@cabinet.Height</p>
                </div>
                <div title="Площадь пола/потолка">
                    <p class="cab-text-info-sign">S² пола/потолка</p>
                    <p id="squareFloor">@cabinet.SquareFloor</p>
                </div>
                <div title="Площадь стены 1">
                    <p class="cab-text-info-sign">S² левой/правой стены</p>
                    <p id="squereWall1">@cabinet.SquareWall_1</p>
                </div>
                <div title="Площадь стены 2">
                    <p class="cab-text-info-sign">S² передней/задней стены</p>
                    <p id="squereWall2">@cabinet.SquareWall_2</p>
                </div>
                @{
                    if (respPerson is UserDTO resp)
                    {
                        <button class="defaultButton" id="toProfile" onclick="window.location = '../profile=@resp?.Id'">
                            <span>
                                @{

                                    var respFullName = resp?.Surname + " " + resp?.Name + " " + resp?.Patronymic;
                                    @respFullName
                                }
                            </span>
                        </button>
                    }
                } 
            </div>
            <div id="cab-info-buttons">
                @{
                    if (isCurrentUserIsRespPerson || isPermissionIsAdmin)
                    {
                        <button class="defaultButton" title="Редактировать" id="cab-info-edit" onclick="openEditor(infoType.cabinet, sendType.edit, @Model.Cabinet.Id)">
                            ✎
                        </button>
                    }
                }
            </div>
        </div>

        <div id="cab-photos">
            <div class="file-container">
                <button>⭳</button>
            </div>
            <div class="file-container">
                <button>⭳</button>
            </div>
            <div class="file-container">
                <button>⭳</button>
            </div>
            <div class="file-container">
                <button>⭳</button>
            </div>
        </div>

        <div id="cab-select-info">
            <div id="cab-select-info-buttons">
                <button class="cab-select-info-button" id="to-equipments">Оборудование</button>

                @{
                    if (Context.User.Identity != null && Context.User.Identity.IsAuthenticated)
                    {
                        if (isPermissionHigherThenUser)
                        {
                            <button class="cab-select-info-button" id="show-cabinet-requests">Заявки кабинета</button>
                        }
                    }
                } 

                <div id="cab-select-info-button-bg"></div>
                <button class="defaultButton" id="openrequestformbtn" onclick="openRequestForm()">Создать заявку</button>
            </div>
            
        </div>

        <div id="table-data-view">
            <div id="main-table">

            </div>
        </div>
    </div>

    <template id="show-image-form-button">
        <button class="defaultButton" type="button" id="open-image-form" title="show-more-photos">
            …
        </button>
    </template>

    <template id="file-template">
        <div class="file-container">
            <button>⭳</button>
        </div>
    </template>
}