@using WebApp.Settings;
@using ModelLib.Convert.Attributes;
@using ModelLib.Convert.Table;
@using ModelLib.DTO;
@using ModelLib.Model;

@model IEnumerable<UserDTO>

@{
    Layout = "_UsersList";

    TranslateMetadata<IMetaData> meta = new();
    meta.Assign<UserDTO>();

    bool isAdmin = Context.User.IsInRole("Admin");
}

@section UsersListScripts {
    <link href="~/css/Tools.css" rel="stylesheet" type="text/css" />
    <link href="~/css/Table.css" rel="stylesheet" type="text/css" />
    <link href="~/css/UsersList.css" rel="stylesheet" type="text/css" />
    <script src="~/js/jquery-3.7.1.min.js" type="text/javascript"></script>
    <link href="~/css/RightMenu.css" rel="stylesheet" type="text/css" />
    <script src="~/js/RightMenu.js" type="text/javascript"></script>
    <script src="~/js/signalr.js"></script>
    <script src="~/js/InfoEditor.js" type="text/javascript"></script>
    <link href="~/css/InfoEditor.css" rel="stylesheet" type="text/css" />
    <link href="~/css/ElementsStyle.css" rel="stylesheet" type="text/css" />
}

@section UsersTable 
{
    <table>
        <tr>
            <th class="header" colspan="100%">
                @meta.TableName
            </th>
        </tr>
        <tr>
            @{
                foreach (var header in meta.GetPropName(PropertyInclusion.Include))
                {
                <th>@header.Value</th>
            }
            <th></th>
        }
    </tr>
    @{
        foreach (var user in Model)
        {
            var values = meta.GetValues(user);

                <tr>
                    @{
                        if (values != null)
                        {
                            if (values[nameof(user.Id)] is int userId)
                            {
                                <td>@userId</td>
                            }

                            if (values[nameof(user.Name)] is string userName)
                            {
                                <td>@userName</td>
                            }

                            if (values[nameof(user.Surname)] is string userSurname)
                            {
                                <td>@userSurname</td>
                            }

                            if (values[nameof(user.Patronymic)] is string userPatronymic)
                            {
                                <td>@userPatronymic</td>
                            }
                            else
                            {
                                <td></td>
                            }

                            if (values[nameof(user.Birthday)] is DateTime birthday)
                            {
                                <td>@birthday.ToShortDateString()</td>
                            }

                            if (values[nameof(user.Permission)] is Permission userPermission)
                            {
                                <td>@userPermission.Name</td>
                            }
                            else
                            {
                                <td></td>
                            }
                        }
                    }
                    <td>
                        <button onclick="window.location = '../profile=@user.Id'">Профиль</button>
                    </td>
                </tr>
            }
            <tr>
                @{
                    if (isAdmin)
                    {
                        <th class="footer" colspan="100%">
                            <button class="defaultButton" onclick="openEditor(infoType.user, sendType.new, null)">Добавить пользователя</button>
                        </th>
                    }
                }
        </tr>
    }
    </table>
}