@using ModelLib.Model
@using WebApp.Settings;
@using WebApp.Models;
@using System.Collections;
@using WebApp.Models.PageModels;
@using ModelLib.Convert.Table;
@using ModelLib.DTO;
@using ModelLib.Convert.Attributes;

@model CabInfoPage;

@{
    TranslateMetadata<IMetaData> equipmentMeta = new();


    switch (Model.SelectedList)
    {
        case "Equipment":
            equipmentMeta.Assign<EquipmentDTO>();
            break;
    }
}

<div id="table-meta-data">
    <div id="tableTitleContainer">
        <p id="tableTitle">
            @equipmentMeta.TableName
        </p>
        <input type="search" id="search-data" name="searchField" value="@Model.SearchQuery" placeholder="Поиск..." />
    </div>
    <div id="tableHeader">
        @{
            int i = 0;

            var tableProp = equipmentMeta.GetTablePropName();

            int itemHeaderWidth = (int)(100 / (equipmentMeta.PropsCount + 1));

            foreach (var item in tableProp)
            {
                <button class="table-header"
                        id="table-header-@i"
                        style="width: @itemHeaderWidth%">
                    @item.Value
                </button>
                i++;
            }

            i = 0;
        }
    </div>
</div>
<div id="tableContainer">
    @{
        DrawTable();

        void DrawTable()
        {
            int j = 0;
            int h = 0;

            IEnumerable<dynamic> currentList = Model.SelectedList switch
            {
                "Equipment" => Model.Equipments.Cast<dynamic>().ToList(),
                "TestData" => Model.Equipments.Cast<dynamic>().ToList(),
                _ => []
            };

            foreach (var eqiup in currentList)
            {
                var id = h + 1;

                <div class="tableItem" id="table-item-@h" data-id="@id">
                    @{
                        TableValueResult data = new();
                        if (equipmentMeta.Type == typeof(EquipmentDTO))
                            data = equipmentMeta.GetValues<EquipmentDTO>(eqiup, withNotInclude: true);

                        int equipId = 0;

                        foreach (var prop in eqiup.GetType().GetProperties())
                        {
                            if (prop.Name == "Id")
                                if (data.HasValue("Id"))
                                {
                                    equipId = int.Parse(data["Id"]?.ToString() ?? string.Empty);
                                    continue;
                                }

                            if (data[prop.Name] != null)
                            {
                                <p class="table-prop-name"
                                   id="table-item-@prop.Name"
                                   style="width: @itemHeaderWidth%">
                                    @{
                                        var tbValue = data[prop.Name];

                                        if (tbValue is EquipmentType equipmentT)
                                        {
                                            @equipmentT.Name
                                        }
                                        else
                                        {
                                            @tbValue
                                        }
                                    }
                                </p> 
                            }

                            j++;
                        }
                        <div class="table-prop-name" style="width: @itemHeaderWidth%">
                            <button class="defaultButton" onclick="openRequestForm([@equipId])" title="Добавить к заявке">+📝</button>
                            <button class="defaultButton" onclick="openEditor(infoType.equipment, sendType.edit, @equipId)" title="Редактировать">✏️</button>
                            <button class="deleteButton" title="Удалить">🗑️</button>
                        </div>
                    }
                </div>

                j = 0;
                h++;
            }

            h = 0;
        }
    }
</div>
<div id="table-usings">
    @{
        //TODO: Передалать кнопку с добавления оборудования на прикрепление
        //TODO: Сделать список с оборудованием
    }
    <button class="defaultButton" onclick="openEditor(infoType.equipment, sendType.add, null)" id="add-button">
        +
    </button>
</div>